TODOS:  
    [] Turn supplemental data into a pandas dataframe

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
import PyPDF2

In [35]:
supplement = "Supplementary_Material_S1.pdf"
pdfFileObj = open(supplement, 'rb')
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

In [36]:
pdfReader.numPages

817

In [57]:
pageObj = pdfReader.getPage(0)
print(pageObj.extractText())

Online Supplementary Material S1
.The benchmark dataset used in this study contains
7329 sequences classified into 1070 superfamilies (SFs), which were extracted from
the astral database and the identity
of two sequences was lower than 95%.  >d1dlwa_ a.1.1.1 (A:) Truncated hemoglobin {Ciliate (Paramecium
caudatum)}
SLFEQLGGQAAVQAVTAQFYANIQADATVATFFNGIDMPNQTNKTAAFLCAALGGPNAWTGRNLK
EVHANMGVSNAQFTTVIGHLRSALTGAGVAAALVEQTVAVAETVRGDVVTV
>d1dlya_ a.1.1.1 (A:) Truncated hemoglobin {Green alga (Chlamydomonas eugametos)}
SLFAKLGGREAVEAAVDKFYNKIVADPTVSTYFSNTDMKVQRSKQFAFLAYALGGASEWKGKDMR
TAHKDLVPHLSDVHFQAVARHLSDTLTELGVPPEDITDAMAVVASTRTEVLNMPQQ
>d1idra_ a.1.1.1 (A:) Truncated hemoglobin {Mycobacterium

tuberculosis}
GLLSRLRKREPISIYDKIGGHEAIEVVVEDFYVRVLADDQLSAFFSGTNMSRLKGKQVEFFAAAL
GGPEPYTGAPMKQVHQGRGITMHHFSLVAGHLADALTAAGVPSETITEILGVIAPLAVDVTS
>d1scta_ a.1.1.2 (A:) Hemoglobin I {Ark clam (Scapharca

inaequivalvis)}
VDAAVAKVCGSEAIKANLRRSWGVLSADIEATGLMLMSNLFTLRPDTKTYFTRLGDVQKGKANSK
LRGHAITLTYALNNFVDSLDDPSRLKCVVEKFAVNHINRKISGDAFGAIVEPMKETLKARMGNYY
SDDVAGAWAALVGVVQAAL
>d1sctb_ a.1.1.2 (B:) Hemoglobin I {Ark clam (Scapharca

inaequivalvis)}
KVAELANAVVSNADQKDLLRMSWGVLSVDMEGTGLMLMANLFKTSPSAKGKFARLGDVSAGKDNS
KLRGHSITLMYALQNFVDALDDVERLKCVVEKFAVNHINRQISADEFGEIVGPLRQTLKARMGNY
FDEDTVAAWASLVAVVQASL
>d3sdha_ a.1.1.2 (A:) Hemoglobin I {Ark clam (Scapharca

inaequivalvis)}
SVYDAAAQLTADVKKDLRDSWKVIGSDKKGNGVALMTTLFADNQETIGYFKRLGNVSQGMANDKL
RGHSITLMYALQNFIDQLDNPDDLVCVVEKFAVNHITRKISAAEFGKINGPIKKVLASKNFGDKY
ANAWAKLVAVVQAAL
>d1b0b__ a.1.1.2 (-) Hemoglobin I {Clam (Lucina pectinata)}
SLSAAQKDNVKSSWAKASAAWGTAGPEFFMALFDAHDDVFAKFSGLFSGAAKGTVKNTPEMAAQA
QSFKGLVSNWVDNLDNAGALEGQCKTFAANHKARGISAGQLEAAFKVLAGFMKSYGGDEGAWTAV
AGALMGMIRPDM
>d1h97a_ a.1.1.2 (A:) Trematode hemoglobin/myoglobin {Paramphistomum
epiclitum}
TLTKHEQDILLKELGPHVDTPAHIVETGLGAYHALFTAHPQYISHFSRLEGHTIENVMQSEGIKH
YARTLTEAIVHMLKEISNDAEVKKIAAQYGKDHTSRKVTKDEFMSGEPIFTKYFQNLVKDAEGKA
AVEKFLKHVFPMMAAEI
>d1vrea_ a.1.1.2 (A:) Glycera globin {Marine bloodworm (Glycera

dibranchiata)}
GLSAAQRQVVASTWKDIAGSDNGAGVGKECFTKFLSAHHDMAAVFGFSGASDPGVADLGAKVLAQ
IGVAVSHLGDEGKMVAEMKAVGVRHKGYGNKHIKAEYFEPLGASLLSAMEHRIGGKMNAAAKDAW

In [43]:
#note that there are proportedly 7329 proteins total
#First dataframe 2X7329, identifiers, sequence
text = '';
for i in tqdm(np.arange(pdfReader.numPages)):
    pageObj = pdfReader.getPage(i)
    text += page.extractText()
len(text)

100%|██████████| 817/817 [00:06<00:00, 131.73it/s]

1786779

In [47]:
text = text.replace('\n', '')
len(text)

1748380

In [48]:
raw_proteins = text.split('>')
len(raw_proteins)

7354

In [56]:
raw_proteins[1]

'd1dlwa_ a.1.1.1 (A:) Truncated hemoglobin {Ciliate (Paramecium caudatum)} SLFEQLGGQAAVQAVTAQFYANIQADATVATFFNGIDMPNQTNKTAAFLCAALGGPNAWTGRNLKEVHANMGVSNAQFTTVIGHLRSALTGAGVAAALVEQTVAVAETVRGDVVTV '

In [84]:
ID = []
family = []
thingy = []
info = []
sequence = []
for i in tqdm(np.arange(len(raw_proteins)-1)):
    record = raw_proteins[i+1].split(' ', maxsplit = 1)
    ID.append(record[0])
    record = record[1].split(' ', maxsplit = 1)
    family.append(record[0])
    record = record[1].split(' ', maxsplit = 1)
    thingy.append(record[0])
    record = record[1].split('}', maxsplit = 1)
    info.append(record[0]+ '}')
    sequence.append(record[1])
records = [list(a) for a in zip(ID, family, thingy, info, sequence)]
len(records)

100%|██████████| 7353/7353 [00:00<00:00, 137637.53it/s]

7353

In [92]:
records[1]

['d1dlya_',
 'a.1.1.1',
 '(A:)',
 'Truncated hemoglobin {Green alga (Chlamydomonas eugametos)}',
 ' SLFAKLGGREAVEAAVDKFYNKIVADPTVSTYFSNTDMKVQRSKQFAFLAYALGGASEWKGKDMRTAHKDLVPHLSDVHFQAVARHLSDTLTELGVPPEDITDAMAVVASTRTEVLNMPQQ ']

In [94]:
labels = ["ID", 'Family', 'Thingy', 'Info', 'Sequence']
df =  pd.DataFrame.from_records(records, columns=labels)
df.head()

,ID,Family,Thingy,Info,Sequence
0,d1dlwa_,a.1.1.1,(A:),Truncated hemoglobin {Ciliate (Paramecium caud...,SLFEQLGGQAAVQAVTAQFYANIQADATVATFFNGIDMPNQTNKT...
1,d1dlya_,a.1.1.1,(A:),Truncated hemoglobin {Green alga (Chlamydomona...,SLFAKLGGREAVEAAVDKFYNKIVADPTVSTYFSNTDMKVQRSKQ...
2,d1idra_,a.1.1.1,(A:),Truncated hemoglobin {Mycobacterium tuberculosis},GLLSRLRKREPISIYDKIGGHEAIEVVVEDFYVRVLADDQLSAFF...
3,d1scta_,a.1.1.2,(A:),Hemoglobin I {Ark clam (Scapharca inaequivalvis)},VDAAVAKVCGSEAIKANLRRSWGVLSADIEATGLMLMSNLFTLRP...
4,d1sctb_,a.1.1.2,(B:),Hemoglobin I {Ark clam (Scapharca inaequivalvis)},KVAELANAVVSNADQKDLLRMSWGVLSVDMEGTGLMLMANLFKTS...